body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: black;
}

h1{
    color: aqua;
}

a{
    color: chocolate;
    text-decoration: none;
}

a:hover {
    color: darkcyan;
}

ul > li {
    font-weight: bold;
}

h1 + p {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    color: pink;
}
ul li: :nth-child(3) {
    background-color: yellow;
}

p:not(:first-of-type) {
    text-decoration: underline;
}

ul li::before{
    content: 🚀;
}

a::after{
    content: 🌊;
}

p::first-letter{
    font-size: 400%;
    color: red;
    font-weight: bold;
}